<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
      <!-- Logo -->
      <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Sakai logo"
        class="mb-5 w-6rem flex-shrink-0">
      <div style="border-radius:56px; padding:0.3rem;
            background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
        <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
          <!-- Título -->
          <div class="text-center mb-5">
            <img src="assets/demo/images/login/avatar.png" alt="Image" height="50" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">Reset Password</div>
            <span class="text-600 font-medium">Enter your new password</span>
          </div>
  
          <!-- Formulario -->
          <form [formGroup]="resetPasswordForm">
            <label for="newPassword" class="block text-900 font-medium text-xl mb-2">New Password</label>
            <p-password id="newPassword" formControlName="newPassword" placeholder="New Password" [toggleMask]="true"
              styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>
            
            <label for="confirmPassword" class="block text-900 font-medium text-xl mb-2">Confirm Password</label>
            <p-password id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password" [toggleMask]="true"
              styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>
  
            <button pButton pRipple label="Change Password" class="w-full p-3 text-xl" (click)="onSubmit()"
              [disabled]="!resetPasswordForm.valid"></button>
          </form>
  
          <div class="text-center mt-5">
            <a [routerLink]="['/auth/login']" class="font-medium no-underline ml-2 text-right cursor-pointer"
              style="color: var(--primary-color)">
              Back to Login
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  